button {
  cursor:pointer;
}

/* Task Form */

#form-container {
  position:absolute;
  top:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  height: 100vh;
  width:100vw;
  background-color:rgba(0,0,0,0.5);
}

#task-form {
  display:flex;
  flex-direction:column;
  max-width:400px;
  position:absolute;
  top:30%;
  padding:1em;
  background-color:white;
  border: 1px solid lightgrey;
  border-radius:5px;
}

#task-form > * {
  padding:1em;
  resize:none;
  border-radius:5px;
  border:1px solid grey;
  margin-bottom:4px;
}

#description {
  height: 100px;
}

#close {
  font-size:2em;
  align-self:flex-end;
  padding:0.2em;
  border:none;
}

#close:hover,
#close:focus {
  cursor:pointer;
  color:black;
  background-color:lightgrey;
  transition:all 0.2s ease;
}